.r1 {
    display: flex;
    flex-direction: row;
}

body {
    padding: 60px;
}

input {
    width: 80px;
    height: 50px;
    margin: auto;
    border-radius: 6px;
    padding: 4%;
    text-align: center;
    font-size: large;
}

button {
    margin-top: 5%;
    border-radius: 4px;
    padding: 10px 27px;
    margin-left: 50%;
    /* margin-right: 30px; */
}


.box {
    width: 20px;
    border: 2px solid black;
    padding: 5%;
    /* padding-right: 15px; */
    /* padding-right: -2px; */
    /* background-color: yellow; */
}